<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.CsvHelper.Tests\Orc.CsvHelper.Tests.NET40\packages.config" />
  <repository path="..\src\Orc.CsvHelper.Tests\Orc.CsvHelper.Tests.NET45\packages.config" />
  <repository path="..\src\Orc.CsvHelper\Orc.CsvHelper.NET40\packages.config" />
  <repository path="..\src\Orc.CsvHelper\Orc.CsvHelper.NET45\packages.config" />
</repositories>